include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include stock_managment *.css
recursive-include stock_managment *.csv
recursive-include stock_managment *.html
recursive-include stock_managment *.ico
recursive-include stock_managment *.js
recursive-include stock_managment *.json
recursive-include stock_managment *.md
recursive-include stock_managment *.png
recursive-include stock_managment *.py
recursive-include stock_managment *.svg
recursive-include stock_managment *.txt
recursive-exclude stock_managment *.pyc